In [2]:
# Libraries
import pandas as pd
input_folder_path = "DataSource/Input/"
output_folder_path = "DataSource/Output/"

### Sales Data Process

In [3]:
file_name = "Sales.xlsx"
df = pd.read_excel(input_folder_path + file_name, skiprows=4)

# Reset the index
df.columns = df.iloc[0]
df = df.drop(df.index[0])
df = df.reset_index(drop=True)
df = df[['Game Title', 'Item', 'Sales (USD)']]
display(df)

,Game Title,Item,Sales (USD)
0,Clan of Champions:Clan of Champions PS3,COC1-PS3-US-VG-DLC,2.07
1,Clan of Champions:Clan of Champions PS3,COC1-PS3-US-VG-PSN,7.65
2,Clan of Champions:Clan of Champions-STEAM,COC1-STM-PC-VG,7.51
3,03-2023:Kamiwaza:Kamiwaza NSW,KAM1-NSW-EU-eshop,108.95
4,03-2023:Kamiwaza:Kamiwaza NSW,KAM1-NSW-US-eshop,269.14
...,...,...,...
1042,03-2023:Fallen Legion (Porting):Fallen Legion ...,FAL2-XB1-EU-VG-XBL,0
1043,03-2023:Fallen Legion (Porting):Fallen Legion ...,FAL2-XB1-US-VG-DLC,0
1044,03-2023:Fallen Legion (Porting):Fallen Legion ...,FAL2-XB1-US-VG-XBL,0
1045,03-2023:Fallen Legion (Porting):Fallen Legion ...,FAL2-XB1-WS-VG-SE,59.99
1046,NaN,NaN,3682881.55

### COGS data process

In [4]:
# Data Cleanup
COGS_df = pd.read_csv(input_folder_path + "COGS.csv", skiprows=4)
COGS_df.columns = COGS_df.iloc[0]
COGS_df = COGS_df.drop(COGS_df.index[0])
COGS_df = COGS_df.reset_index(drop=True)
COGS_df = COGS_df.dropna(subset = ['Item'])


# Grouping by item
COGS_df['Item'] = COGS_df['Item'].str.replace(' : ', ':', regex = False)
COGS_df['Amount'] = COGS_df['Amount'].str.replace('$', '').str.replace(',', '').str.strip().astype(float)
display(COGS_df)
COGS_df = COGS_df.rename(columns = {'Amount': 'COGS Expense in Dollar'})
COGS_df = COGS_df.groupby('Item')['COGS Expense in Dollar'].sum().reset_index()

display(COGS_df)

,Financial Row,Type,Date,Document Number,Name,Clr,Split,Amount,Division: Name,Item,Game Title: Name
5,NaN,Item Fulfillment,9-9-24,434952,16012 austin pickle,F,Inventory Asset : Finished Goods,2.18,Anime-STORE,TDO1-BRD-US-SE,Toradora1
6,NaN,Item Fulfillment,9-9-24,434952,16012 austin pickle,F,Inventory Asset : Finished Goods,1.59,Anime-STORE,TDO2-BRD-US-SE,Toradora2
7,NaN,Item Fulfillment,10-9-24,433652,THE RIGHT STUF INC,F,Inventory Asset : Finished Goods,285.66,Anime,CCS1-BRD-US-SE,Cardcaptor Sakura
8,NaN,Item Fulfillment,10-9-24,433652,THE RIGHT STUF INC,F,Inventory Asset : Finished Goods,65.30,Anime,TDO1-BRD-US-SE,Toradora1
9,NaN,Item Fulfillment,10-9-24,433652,THE RIGHT STUF INC,F,Inventory Asset : Finished Goods,64.80,Anime,IRO1-BRD-US-SE,Hanasaku Iroha 1
...,...,...,...,...,...,...,...,...,...,...,...
1767,NaN,Item Fulfillment,30-9-24,434962,NISA Operations,F,NaN,38.37,NA Games-STORE,PBR2-OTH-WS-STD5,Goods
1768,NaN,Item Fulfillment,30-9-24,434962,NISA Operations,F,NaN,28.77,NA Games-STORE,PBR2-OTH-WS-STD4,Goods
1769,NaN,Item Fulfillment,30-9-24,434962,NISA Operations,F,NaN,28.77,NA Games-STORE,PBR2-OTH-WS-STD2,Goods
1770,NaN,Item Fulfillment,30-9-24,434962,NISA Operations,F,NaN,28.77,NA Games-STORE,PBR2-OTH-WS-STD1,Goods
1771,NaN,Item Fulfillment,30-9-24,434962,NISA Operations,F,NaN,28.77,NA Games-STORE,PBR2-OTH-WS-STD3,Goods

                                       Item  COGS Expense in Dollar
0                               - No Item -                11026.79
1                            CCS1-BRD-US-SE                  285.66
2                         D6C1-PS4-WS-VG-PE                  160.45
3                         D6C1-PS5-WS-VG-PE                  187.54
4                         DIS7-NSW-US-VG-DX                 1698.99
..                                      ...                     ...
166  YSN1-PS5-EU-VG-DX:YSN1-PS5-EU-VG-DX-UK                43174.66
167                       YSN1-PS5-US-VG-DX               153894.41
168                       YUK1-NSW-WS-VG-PE                   50.82
169                         ZGEN-GDS-EU-CVR                 2561.02
170                         ZGEN-GDS-US-CVR                19839.37

[171 rows x 2 columns]

In [5]:
# merging data
df = pd.merge(df, COGS_df, how='left', on='Item')
display(df)

,Game Title,Item,Sales (USD),COGS Expense in Dollar
0,Clan of Champions:Clan of Champions PS3,COC1-PS3-US-VG-DLC,2.07,NaN
1,Clan of Champions:Clan of Champions PS3,COC1-PS3-US-VG-PSN,7.65,NaN
2,Clan of Champions:Clan of Champions-STEAM,COC1-STM-PC-VG,7.51,NaN
3,03-2023:Kamiwaza:Kamiwaza NSW,KAM1-NSW-EU-eshop,108.95,NaN
4,03-2023:Kamiwaza:Kamiwaza NSW,KAM1-NSW-US-eshop,269.14,NaN
...,...,...,...,...
1042,03-2023:Fallen Legion (Porting):Fallen Legion ...,FAL2-XB1-EU-VG-XBL,0,NaN
1043,03-2023:Fallen Legion (Porting):Fallen Legion ...,FAL2-XB1-US-VG-DLC,0,NaN
1044,03-2023:Fallen Legion (Porting):Fallen Legion ...,FAL2-XB1-US-VG-XBL,0,NaN
1045,03-2023:Fallen Legion (Porting):Fallen Legion ...,FAL2-XB1-WS-VG-SE,59.99,12.61
1046,NaN,NaN,3682881.55,NaN

### Capitalized Expense Process

In [6]:
# clean up
CapExp_df = pd.read_excel(input_folder_path + "Capitalized_Expense.xlsx")
CapExp_df['Amount (Debit + Credit)'] = CapExp_df['Amount (Debit)'] + CapExp_df['Amount (Credit)']
CapExp_df.dropna(subset = ['Game Title'], inplace = True)

# grouping by title
CapExp_df = CapExp_df.groupby('Game Title')['Amount (Debit + Credit)'].sum().reset_index()
CapExp_df['Game Title'] = CapExp_df['Game Title'].str.replace(' : ', ':', regex = False)
display(CapExp_df)

                                          Game Title  Amount (Debit + Credit)
0  03-2023:Trails through Daybreak (PC):Trails th...                 81557.49
1                    03-2024:Trails through Daybreak                240404.69
2                                   03-2025:REYNATIS                 35608.15

### AD Promotion Data Process

In [8]:
# clean up
AD_df = pd.read_excel(input_folder_path + "AD_Promotion.xlsx", skiprows=4)
AD_df.columns = AD_df.iloc[0]
AD_df = AD_df.drop(AD_df.index[0])
AD_df = AD_df.reset_index(drop=True)
AD_df = AD_df.dropna(subset = ['Game Title: Name'])

# grouping by title
AD_df = AD_df.groupby('Game Title: Name')['Amount'].sum().reset_index()
AD_df = AD_df.rename(columns = {'Amount': 'AD Promotion in Dollar'})
AD_df = AD_df.rename(columns = {'Game Title: Name': 'Game Title'})

display(AD_df)

                Game Title AD Promotion in Dollar
0        - No Game Title -                4495.77
1  2024-07_Anime Expo 2024                 386.02
2         2024-08_PAX West               53860.14
3      Phantom Brave 1 PS5                1058.97
4          Phantom Brave 2                   9.25
5            Ys X: Nordics                   2960